.nav-item, .navbar-brand{
    cursor: pointer;
}

.footer-icon:hover{
    color: #229933;
}

.btn-custom{
    background-color: #03a01f !important;
    color:#ffffff !important;
}

.btn-custom:hover{
    background-color: #118822 !important;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }